@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
.text {
  outline: none;
  font-size: 150px;
  font-weight: 800;
  background: linear-gradient(
    135deg,
    #5335cf 0%,
    #de005e 25%,
    #f66e48 50%,
    #de005e 75%,
    #5335cf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  100% {
    background-position: 400%;
  }
  50% {
    background-position: 200%;
  }
  0% {
    background-position: 100%;
  }
}
